
body {
    background-image: url("assets/imagenes/fondo.jpg");
    display: grid;
    
    
  }

img {
 
    padding: 90px; 
    margin: 15px; 
    float: left; 
    width: 350px; 
}



table {
    font-family: arial, sans-serif;
    border:separate;
    width: 70%;
    border-collapse: separate;
    
  }
  
  td, th {
    border-color: #dddddd;
    text-align: center;
    padding: 10px;
    
    
  }
  
  tr {
    background-color: #dddddd;
  }

  .centrado{

    margin-left: 27cm;
    width: 100px;
    height: 100px;
    padding: 20px;
  }

.Rep{
   
    margin-right: 27cm;
    width: 60px;
    height: 60px;
    padding: 3px;
 
}
.searchBar{
    position: absolute;
    left: 40%;
    top: 180px;
}
.titileAdd {
  color: white;
}

label {
  color: white;
}